
body {
  color: black;
  background-color: #F5F5DD;
  max-width: 700px;
  margin: auto;
  font-family: "Stardos Stencil", system-ui;
  font-weight: 400;
  font-style: normal;
}
p {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: black;
  background-color: #EAE3C9;
  font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

a {
  color: blue;
}

a:hover {
  background-color: blue;
  color: white;
}
